# ================= TELEGRAM BOT CREDENTIALS ================= #
# Bot Token from https://t.me/BotFather
BOT_TOKEN=8876631171:AAE9oK-e9qKy4uczchMaVIphkGHXlBUUNQs

# API ID & API HASH from https://my.telegram.org
API_ID=26615277
API_HASH=55e4c522969538e7aaf7584e26f98c13

# Admin Telegram User ID (Numeric ID, e.g. from @userinfobot)
ADMIN_ID=6958919404

# ================= OPTIONAL FEATURES ================= #
# Force Subscribe Channel Username (without @) or Channel ID (e.g. -100xxxxxxxxxx)
# Leave empty if you don't want force subscribe
FORCE_SUB_CHANNEL=terabox_update100

# MongoDB Atlas Connection URI (Free 512MB M0 Cluster from mongodb.com)
# Recommended for cloud hosting so data is not wiped on restarts.
# Leave empty to use local SQLite database fallback.
MONGO_URI=
DB_NAME=telegram_downloader_bot

# Port for Keep-Alive Web Server (Default 8080)
PORT=8080
